*{
    font-family: montserrat;
}
body{
    width: 1280px;
    margin: 0 auto;
}
header{
    text-align: center;
}
header div{
    display: inline-block;
}
.nav{
    padding-left: 0;
    list-style: none;
    text-align: center;
    margin: 27.8px 0;
    
}

.nav li{
    display: inline-block;
    
}
.nav a{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #FF0000;
    text-transform: uppercase;
    margin: 20px;
    letter-spacing: 2.7px;
}
.title-main{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    margin: 48px 0 38px;
    letter-spacing: 3.3px;
}
.main-paragraf{
    width: 1145px;
    
    text-align: center;
    margin: 0 auto;

}
.main-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 28px 0;
    letter-spacing: 2.4px;
    
}
.button{
    text-align: center;
    margin: 66px 0;
}
.button button{
    text-transform: uppercase;
    
    width: 191px;
    height: 51px;
    background-color: #FF0000;
    border-radius: 4px;
    
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-weight: 700;
    line-height: 12px;    
}

footer{
    text-align: end;
    width: 1145px;
    margin: 82px auto 29px;
}
footer p{
    font-weight: 700;
    font-size: 16px;
    color: #373737;
    
    letter-spacing: 2.4px;
    display: inline-block;
}
